/*

*.DS_Store

!.dockerignore
!.gitignore
!.flake8
!.pre-commit-config.yaml
!.travis.yml
!scripts/
!Dockerfile
!pyproject.toml
!poetry.lock
!LICENSE
!README.md

!mixemup.py
!test_mixemup.py
!examples/